* {
	margin: 0px;
}

h1 {
	color: white;
	font-family: comic sans ms;
	padding: 13px;
	background-color: #FF8787;
    position: fixed;
    top: 0px;
    right: 0px;
	left: 0px;
	z-index: 2;
	filter: drop-shadow(0px 0px 0px 10px black);
	animation: glow 1s ease-in-out infinite alternate;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
	filter: drop-shadow(0px 0px 10px black);
}

.motto {
	top: 14px;
	left: 88px;
	float: left;
	color: white;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #FF69B4, 0 0 20px #E31C79, 0 0 30px #FF69B4, 0 0 40px #E31C79, 0 0 50px #E31C79, 0 0 60px #FF69B4, 0 0 70px #E31C79;
  }
  to {
    text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px #E31C79, 0 0 60px #E31C79, 0 0 70px #E31C79, 0 0 80px #FF69B4;
  }
}

.fname {
	font-size: 33px;
	font-family: comic sans ms;
	margin: 5px 0px 0px 90px;
	float: left;
	color: white;
}

.topnav {
	top: 122px;
	right: 0px;
	left: 0px;
	background-color: #FBA1A1;
	position: fixed;
	z-index: 1;
	overflow: hidden;
	padding: 2px;
	filter: drop-shadow(0px 0px 10px black);
}

.topnav a {
	float: right;
    color: white;
	text-align: center;
	padding: 10px 45px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: white;
}

.flxbcon {
	display: flex;
	margin: auto;
	justify-content: center;
  	align-items: center;
	margin-top: 130px;
}

section {
    font-size: 23px;
	color: white;
	float: left;
	box-sizing: border-box;
	border-radius: 10%;
	border: 5px solid white;
	padding: 20px;
    margin-top: 100px;
    margin-right: 30px;
	margin-bottom: 40px;
    margin-left: 0px;  
	position: relative;
	background-color: #ff6f91;
	filter: drop-shadow(0px 0px 12px black);
	transition: transform 0.8s;
	transition-timing-function: ease;
}

.sec1 {
	height: 320px;
    width: 460px;
}

.sec2 {
	height: 370px;
    width: 580px;
	margin-left: 70px;
}

section {
	transition: transform 0.4s;
	transition-timing-function: ease;
}

section:hover {
	transform: scale(1.01);
    filter: drop-shadow(0px 0px 16px black);
}

video {
    border-radius: 10%;
}

ul {
	list-style: none;
	margin-top: 15px;
}

footer {
	border: 2px solid #FF455B;
	font-weight: bold;
	padding: 5px;
	color: #CD394B;
	text-align: center;
	font-size: 15px;
}

.smeds {
	margin: 0px 0px 10px 0px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

#Facebook {
	background: url('../images/socmeds .png') no-repeat -10px -9px;
	background-size: 100px 100px;
	width: 31px;
	height: 31px;
	transition: transform 0.5s;
	transition-timing-function: ease;
}

#Facebook:hover {
	transform: rotate(360deg);
    filter: drop-shadow(0px 0px 10px white);
    cursor: pointer;
}

#Twitter {
	margin: 0px 10px 0px 10px;
	background: url('../images/socmeds .png') no-repeat -20px -56px;
	background-size: 100px 100px;
	width: 31px;
	height: 31px;
	transition: transform 0.5s;
	transition-timing-function: ease;
}

#Twitter:hover {
	transform: rotate(360deg);
    filter: drop-shadow(0px 0px 10px white);
    cursor: pointer;
}


#Telegram {
	background: url('../images/socmeds .png') no-repeat -59px -25px;
	background-size: 100px 100px;
	width: 31px;
	height: 31px;
	transition: transform 0.5s;
	transition-timing-function: ease;
}

#Telegram:hover {
	transform: rotate(360deg);
    filter: drop-shadow(0px 0px 10px white);
    cursor: pointer;
}

