* {
	margin: 0px;
}

body {
	background-image: linear-gradient(#F65A83, #F8C4B4);
}

h1 {
	color: white;
	background-color: #FF8787;
	position: -webkit-sticky;
    position: sticky;
    top: 0;	
}
h2 {
	color: white;
	background-color: #FBA1A1;
	padding: 20px;
	margin-bottom: 50px;
}

#img1, #img2, #img3 {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 55px;
}
	
#img1:hover { 
	transition: transform 0.8s;
	transform: scale(1.2);
    cursor: pointer;
}
	
#img2:hover { 
	transition: transform 0.8s;
	transform: scale(1.2);
	cursor: pointer;
}

#img3:hover { 
	transition: transform 0.8s;
	transform: scale(1.2);
	cursor: pointer;
}