html {
  background-color: #EED6D3;
  background-image: url("images/background.png");
}
h1 {
    text-align: center;
    background-color: #D48C70; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px dotted #EBBBB0;
    padding: 10px, 15px, 10px, 15px;
    width: 250px;
    margin-bottom: 20px;   
}
p {
    background-color: #F4B9B8;
    text-align: justify;
    font-style: italic;
    padding: 20px;
    border: 3px #D48C70;
    border-right-style: dotted;
    border-top-style: dashed;
    border-left-style: double;
    border-right-style: solid;
    border-bottom-style: hidden;
    width: 500pxs;
}
span {
    font-style: bold, italic;
    color: rgb(207, 108, 108);
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}